.nav-tabs {
  flex-wrap: nowrap;

  .nav-link.active, .nav-item.show .nav-link {
    background-color: lighten($tabs_bg_color, 20%);
    border-color: $tabs_bg_color $tabs_bg_color #fff;
  }

  .nav-link:hover {
    background-color: lighten($tabs_bg_color, 13%);
    border-color: $tabs_bg_color $tabs_bg_color lighten($tabs_bg_color, 20%);
  }

  .nav-link:focus {
    background-color: lighten($tabs_bg_color, 20%);
    border-color: $tabs_bg_color $tabs_bg_color #fff;
  }
}

.dashboard-list {
  li {
    margin-bottom: 1em;
  }
 }