@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400&display=swap");

@font-face {
  font-family: "CervoW01-Light";
  src: url("../assets/fonts/Cervo-W01-Light/9a019656cb403a5e37e2ce5fb2cc9ffd.eot");
  src: url("../assets/fonts/Cervo-W01-Light/9a019656cb403a5e37e2ce5fb2cc9ffd.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/Cervo-W01-Light/9a019656cb403a5e37e2ce5fb2cc9ffd.woff2") format("woff2"),
  url("../assets/fonts/Cervo-W01-Light/9a019656cb403a5e37e2ce5fb2cc9ffd.woff") format("woff"),
  url("../assets/fonts/Cervo-W01-Light/9a019656cb403a5e37e2ce5fb2cc9ffd.ttf") format("truetype"),
  url("../assets/fonts/Cervo-W01-Light/9a019656cb403a5e37e2ce5fb2cc9ffd.svg#CervoW01-Light") format("svg");
}