.leaderboard {
  .leaderboard-table {
    th.rank-column {
      width: 90px;
    }

    tr.active {
      background: #ffe2e2;
    }

  }

  .userInfo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
      width: 65px;
      margin-right: 20px;
    }

    .author-meta {
      .author-name,
      .character-class {
        margin-bottom: 0;
      }

      .author-name {

      }

      .character-class {

      }
    }
  }

}