.login {
  padding-top: 2em;

  h1.site-title {
    margin-bottom: 1em;
    color: $site_title;
    font-family: CervoW01-Light, Roboto, Ubunto, sans-serif;
    font-size: 5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}